html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: transparent;
}

#backgroundContainer {
    position: relative;
    width: 1920px;
    height: 1080px;
    overflow: visible;
}

#backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#backgroundCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
}

.emotesLayer {
    position: relative;
    z-index: 3;
    /* pointer-events: none; */
  }

.emote {
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: cover;
    /*background-color: lightblue;*/
    /*border-radius: 50%;*/
    z-index: 3;
}

.emote.rounded {
    border-radius: 0%;
  }
  
  .emote.bgColor {
    background-color: transparent;
  }

  .interactive-no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;         /* Standard syntax */
  pointer-events: auto;      /* Ensure element is still interactive */
}

.selected-frame {
  border: 2px solid blue; /* Indicate selection with a border */
}
